// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.products{
  table{
    border-collapse: collapse;
  }

  h1{
    padding-bottom: 0.5em;
    border-bottom: 3px dotted #774;
  }

  table tr td{
    padding: 5px;
    vertical-align: center;
  }

  .list_image{
    width : 150px;
    height: 125px;
  }

  .list_description{
    width: 80%;

    dl{
      margin: 0;
    }

    dt{
      color:        #000000;
      font-weight:  bold;
      font-size:    larger;
    }

    dd{
      margin: 0;
    }
  }

  .list_actions{
    font-size: medium;
    text-align: center;
    padding-left: lem;
  }

  .list_line_even{
    background: #e0f8f8;
  }

  .list_line_odd{
    background:   	#FF6347;
  }
}

#new_product{
  padding-bottom: 0.5em;
  font-family: "DejaVu Sans Mono";
  font-size: 125%;
  font-weight: bold;
  color: #000000;
  padding-left: 1.1em;
}
